<p>article-affect works!</p>
<form>
    
    <div class="big-div">
      <div class="input-div">
      <h4>mat-select</h4>
      <mat-form-field appearance="fill">
      <mat-label>Select a member</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let element of tab" [value]="element.id">
          {{element.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    </div>
    <div class="button-div">
      <p> Selected element: {{selected}} </p>
      <button mat-raised-button (click)="add(selected)"> OK </button>
    </div>
    </div>   
</form>